*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family:"Arial", "Courier New", sans-serif;
    color: white;
    padding-top: 50px;
}

.container{
  display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	background: #262626;
	width: 100%;
	height: 70vh;

}

.wrapper{
  position: relative;
  background: #fff;
  color: #111;
	height: 350px;
	width: 550px;
	overflow: hidden;
	display: flex;
  align-items: center;
  border-radius: 5px;
}

.wrapper p1{
  color:#aaa;
  font-size: 30px;
}

.wrapper h1{
  padding: 30px;
}


.card{
    width: 25rem;
}

.icon img{
    width: 35%;
}

.gradient {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
  }

head{
    background-color: wheat;
}

footer{
    bottom: 0px;
    position: fixed;
    width: 100%;
}

a {
  color:#ffffff;
  text-decoration: none;
}    /* Unvisited link  */


a:visited {
  color:#ffffff;
} /* Visited link    */

a:hover {
  color:#ffd4f2;
}   /* Mouse over link */

a:active {
  color:#0000FF;
}  /* Selected link   */

@media only screen and (max-width: 600px) {
    .icon img {
      width: 5%;
    }
  }

@media only screen and (max-width: 990px) {
    .icon img {
      width: 15%;
    }
  }