<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: rgb(22, 22, 22);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Homework 1</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <!-- ml-auto still works just fine-->
      <div class="navbar-nav ml-auto">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link active" href="/news">News</a>
        <a class="nav-link active" href="/about">About</a>
      </div>
    </div>
  </div>
</nav>